
@font-face {
    font-family: NoRules;
    src: url(fonts/SANoRules.otf);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

ul {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 5px;

}
li{
    border-radius: 12px;
    display: flex;
}
img{
    border-radius: 12px;
    height: 400px;
    width: 500px;
}
a{
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    font-size: 36px;
    font-family: NoRules, Helvetica, sans-serif;
    
}
.contact{
    padding-top: 100px;
    line-height: .8;
    display: flex;
    flex-direction: column;
    align-items: center;   

}
.teo{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.teo img{
    border-radius: 12px;
    height: 300px;
    width: 300px;
}
.teo ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 16px 0px;
}
.name{
    font-family: NoRules, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    margin: 0px;
    padding: 5px;
    
}